# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Data
data/raw/
data/processed/
*.csv
*.xlsx
*.parquet

# MLflow
mlruns/
mlartifacts/

# Models
models/
*.pkl
*.joblib

# Notebooks
.ipynb_checkpoints/

# Environment
.env

# OS
.DS_Store

# IDE
.vscode/
.idea/